@import url('https://fonts.googleapis.com/css2?family-Poppins:wght@300;400;500;600;700;800;900&display-swap');

:root{
  --bg: #f4f6fb;
  --card: #ffffff;
  --ink: #0f172a;
  --muted: #64748b;
  --line: #e2e8f0;
  --primary: #5a7ce3;
  --primary-2:#8f5ae9;
  --radius: 5px;
}

* { 
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

body{
  margin:0;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
  background-color:  #d2d4ea;
 
}

.form-box{ 
    position: absolute;
    right: 25%;
    width: 50%;
    height: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
}

form{
    width: 100%;
}

.screen{
  position: fixed;
  background: rgb(255, 255, 255);
  top: 45%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  padding: 16px 16px 18px;

}

.monthbar{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:12px;
  padding:9px 12px;
  border:1px solid var(--line);
  border-radius: 5px;
  background:#fff;
  box-shadow: 0 1px 0 rgba(16,24,40,.04);
  margin-bottom:14px;
}

.monthbar h2{
  margin:0;
  font-size:18px;
  font-weight:500;
  letter-spacing:0.2px;
}



/* calendario */
.calendar{
  border:1px solid var(--line);
  padding:10px;
  background: #f8fafc;
}

.cal-head, .cal-grid{
  display:grid;
  grid-template-columns: repeat(7, 1fr);
}

.cal-head div{
  font-size:.70rem;
  text-align:center;
  font-weight:700;
  letter-spacing:.15px;
  color:blue;
  padding:2px;
  border-bottom:1px solid blue;
}

.day{
  position:relative;
  min-height:70px;
  background:#ffffff;
  border:1px solid var(--line);
  border-top:none;
  border-left:none;
  padding:8px 4px 12px;
  display:flex;
  align-items:flex-start;
  justify-content:flex-end;
  font-weight:600;
}

.day:nth-child(7n+1){
    border-left:1px solid var(--line); 
}

.day.out{
  color:#acacac;
  background:#fcfdff;
}

/* barra inferior */
.dock{
  position: fixed;
  top:94%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  gap:6px;
  padding:10px 2px;
  border-top:1px solid var(--line);
  z-index: 99;
}

.dock .item{
  display:grid; 
  place-items:center; 
  gap:6px;
  font-size:.68rem;
  color:var(--muted);
}

.dock .icon{
  width:42px;
  height:42px;
  border-radius:14px;
  border:1px solid var(--line);
  display:grid;
  place-items:center;
}

.item.active .icon{
    background:#eef2ff;
    border-color:#c7d2fe;
}

.item.active .icon:hover{
    cursor: pointer;
    background:#8e8e8e;
    border-color:#c7d2fe;
}

.item.active{ 
    color:var(--ink); 
    font-weight:700;
}