@import url('https://fonts.googleapis.com/css2?family-Poppins:wght@300;400;500;600;700;800;900&display-swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
    background-color: #d2d4ea;
}


.form-box{
    position: absolute;
    right: 25%;
    width: 50%;
    height: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
}

form{
    width: 100%;
}

.container h1{
    font-size: 36px;
    margin: -10px 0;
    color: #0a088a;
}

.input-box{
    position: relative;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-box input::placeholder{
    color: #888;
    font-weight: 400;  
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.forgot-link{
    margin: -15px 0 15px;
    
}

.forgot-link a{
    font-size: 14.5px;
    color: #005cb3;
    text-decoration: none;
}

.bnt{
    width: 95%;
    height: 45px;
    background: #08076a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}


/*NO LOGIN, O FUNCIONARIO IRA CRIAR UMA SENHA E COLOCAR O CODIGO DA EMPRESA PARA SE VINCULAR AO PERFIL DO CORPO COLABORATIVO*/
/*
                <div class="social-icons">
                    <a href="#"><i class='bx bxl-google' style="color: #888;">Entrar com google</i></a>
                </div>
.social-icons a{
    display: inline-flex;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 24px;
    text-decoration: none;
    margin: 15px 8px;