@import url('https://fonts.googleapis.com/css2?family-Poppins:wght@300;400;500;600;700;800;900&display-swap');

:root{
  --bg: #f4f6fb;
  --card: #ffffff;
  --ink: #0f172a;
  --muted: #64748b;
  --line: #e2e8f0;
  --primary: #5a7ce3;
  --primary-2:#8f5ae9;
  --radius: 5px;
}

* { 
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

body{
  margin:0;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
  background-color:  #d2d4e9;
 
}

.form-box{ 
    position: absolute;
    right: 25%;
    width: 50%;
    height: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
}

form{
    width: 100%;
}

.header{
    position: fixed;
    top: 5%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    width: 50.5%;    /* Ocupa a largura total */
    height: 10.5%;
    background: #08076a;
}

.seta svg{
    position: fixed;
    left: 185px;
    bottom: 91%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
}

.container  h3{
    position: fixed;
    top: 1%;
    left: 51%;
    right: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    bottom: 92%;
    z-index: 99;
    font-size: 20px;
}

.box1{
    background-color: var(--bg);
    width: 300px;
    height: 530px;
    position: absolute;
    left:28%;
    top:12%;
    border-radius: 12px;
    
}

.box1 h2{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    margin-left: 12px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #333
}

table{
    border-collapse: collapse;
    border: solid 0.2px rgb(216, 216, 216);
    text-align: center;
    z-index: 99;
    margin-left: 8px;
    margin-top: 15px;
    
}
table tr:nth-child(even){
    background-color: #e0e0e0;
}

.botao input{
    z-index: 99;
    background-color: #08076af2;
    color: black;
    width: 260px;
    height: 37px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 95.5%;
    left: 50%;
    border-radius: 12px;
    border: #08076a;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}

/*.bnt{
    width: 20%;
    height: 35px;
    background: #8181ab;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight:500;
    z-index: 99;
}

/* #08076a

