@import url('https://fonts.googleapis.com/css2?family-Poppins:wght@300;400;500;600;700;800;900&display-swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.form-box{
    width: 100%;
    margin-top: 30px;
    background: rgb(255, 255, 255);
    padding: 40px;
}

.logo{
    display: block;
    font-size: 20px;
    color: #0a088a;
    text-align: center;
}

.input-box{
    position: relative;
    margin: 30px 0;
    
}

.input-box input{
    width: 100%;
    margin: 14px 0;
    padding: 13px 50px 13px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-box input::placeholder{
    color: #888;
    font-weight: 400;  
}

.forgot-link{
   margin-top: -10px;
   margin-bottom: 25px;
   display: flex;
   text-align: center;
   justify-content: center;
    
}

.forgot-link a{
    font-size: 14.5px;
    color: #005cb3;
    text-decoration: none;
}

.bnt{
    width: 100%;
    height: 45px;
    background: #0a088a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    text-decoration: none;
}

.google-login-btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #444;
    cursor: pointer;
    margin: 30px 5px auto; /* CENTRALIZA */
}

.google-login-btn img {
    width: 24px;
    height: 24px;
}

.google-login-btn:hover {
    background: #f3f3f3;
    border-color: #b5b5b5;
}

@media (max-width: 480px) {
    .google-login-btn {
        height: 45px;
        font-size: 14px;
    }
    .google-login-btn img {
        width: 20px;
        height: 20px;
    }
}
