* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
}

/* MAPA */
.mapa iframe {
  width: 100%;
  height: 240px;
  border: none;
}

/* CONTEÚDO */
.conteudo {
  padding: 20px;
}

.conteudo h1 {
  font-size: 20px;
  margin-bottom: 15px;
}

/* CARD */
.card {
  background: #d9d9d9;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.card p {
  font-size: 15px;
  margin: 8px 0;
}

/* BOTÃO */
button {
  width: 100%;
  background: #0a088a;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #09095a;
}

/* MENU */
.dock{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0a088a;
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  padding:6px 0;
  border-top:1px solid rgb(255, 255, 255);
  z-index: 99;
}

.dock .item{
  display:flex; 
  flex-direction: column;
  align-items: center; 
  font-size:.68rem;
  color:#ffffff;
  cursor: pointer;
}


.dock .icon{
  width:34px;
  height:34px;
  display:grid;
  place-items:center;
}

@media (max-width:360px){
  .day{
    min-height:45px;
    font-size:0.7rem;
  }

  .dock .icon{
    width:30px;
    height:30px;
  }
}