@import url('https://fonts.googleapis.com/css2?family-Poppins:wght@300;400;500;600;700;800;900&display-swap');

:root{
  --bg: #f4f6fb;
  --card: #ffffff;
  --ink: #0f172a;
  --muted: #64748b;
  --line: #e2e8f0;
  --primary: #5a7ce3;
  --primary-2:#8f5ae9;
  --radius: 5px;
}

* { 
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

body{
  margin:0;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
  background-color:  #d2d4e9;
 
}

.form-box{ 
    position: absolute;
    right: 25%;
    width: 50%;
    height: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
}

form{
    width: 100%;
}

.header{
    position: fixed;
    top: 5%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    width: 50.5%;    /* Ocupa a largura total */
    height: 10.5%;
    background: #08076a;
}

.seta svg{
    position: fixed;
    left: 185px;
    bottom: 91%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
}

.container  h3{
    position: fixed;
    top: 1%;
    left: 51%;
    right: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    bottom: 92%;
    z-index: 99;
    font-size: 20px;
}

.box1{
    background-color: var(--bg);
    width: 300px;
    height: 100px;
    position: absolute;
    left: 28%;
    top:12%;
    border-radius: 12px;
}

.box1 h2{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    margin-left: 12px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #333
}

.box2{
    background-color: var(--bg);
    width: 300px;
    height: 100px;
    position: absolute;
    left: 28%;
    top:32%;
    border-radius: 12px;
}

.box2 h2{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    margin-left: 12px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #333;
}

.box3{
    background-color: var(--bg);
    width: 300px;
    height: 100px;
    position: absolute;
    left: 28%;
    top:56%;
    border-radius: 12px;
}

.box3 h2{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    margin-left: 12px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #333;
}

.box4{
    background-color: var(--bg);
    width: 300px;
    height: 100px;
    position: absolute;
    left: 28%;
    top:80%;
    border-radius: 12px;
}

.box4 h2{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    margin-left: 12px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color:#333;
}

h2 p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 1px;
    font-size: 30px;
    font-weight: 500;
    color: #333;
}
